body {
  margin: 0px 0px 0px 0px;
}

table{
border:0px;
border-collapse:collapse;
border-spacing: 10 10;
}

table td{
padding: 0px;
} 



td.mode {
  background-color: #CCCCCC;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  border: 1px solid white;
}

td.modeselected {
  background-color: #888888;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  border: 1px solid white;
}

td.item {
  background-color: #f2f3f7;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  border-right: 1px solid #e4e7ef;
  border-bottom: 1px solid #e4e7ef;
  box-shadow: inset -1px 0 0 #eaedf4, inset 0 -1px 0 #eaedf4;
}

td.header {
  background-color: #d6d8e0;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  border-right: 1px solid #d6dbe7;
  border-bottom: 1px solid #d6dbe7;
  box-shadow: inset -1px 0 0 #e0e4ed, inset 0 -1px 0 #e0e4ed;
}

td.planka {
  background-color: #CCCCFF;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  border: 1px solid white;
}

td.itemlist {
  background-color: #EEEEEE;
}

p.itemlist {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: #000000;
  background-color: #CCCCCC;
  font-family: arial, sans-serif;
  margin-top: 1px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

a.itemlist {
  text-decoration:  none;
  color: #000000;
}

p.selected {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: #000000;
  background-color: #888888;
  font-family: arial, sans-serif;
  margin-top: 1px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

a.planka {
  text-decoration:  none;
  background-color: #CCCCFF;
}

a.planka_selected {
  text-decoration:  none;
  background-color: #888888;
}

td.msglist {
  background-color: #EEEEEE;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  border: 1px solid white;
}

td.selected {
  background-color: #888888;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  border: 1px solid white;
}

td.messagehead {
  background-color: #888888;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
}

td.message {
  background-color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
}

pre.message {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: #000000;
  background-color: #FFFFFF;
  font-family: arial, sans-serif;
  text-decoration:  none;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

tr:nth-child(even) td.item {
  background-color: #f0f3f8;
}
